<div class="navigation">
    <ul>
        <li>
            <a href="/dashbord">
                <span class="icon"><i class="fas fa-home "></i></span>
                <span class="title">Home</span>
            </a>
        </li>
        <li>
            <a href="/role">
                <span class="icon"><i class="fas fa-user-tag"></i></span>
                <span class="title">Manage Role Assignements</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="icon"><i class="fas fa-users"></i></span>
                <span class="title">Manage Project Users</span>
            </a>
        </li>
        <li>
            <a href="/projects">
                <span class="icon"><i class="fas fa-project-diagram"></i></span>
                <span class="title">My Projects</span>
            </a>
        </li>
        <li>
            <a href="/tickets">
                <span class="icon"><i class="fas fa-tasks"></i></span>
                <span class="title">My Tickets</span>
            </a>
        </li>
        <li>
            <a href="/user">
                <span class="icon"><i class="fas fa-user-circle"></i></span>
                <span class="title">User Profile</span>
            </a>
        </li>
        <li>
            <a href="/logout">
                <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                <span class="title"><button class="btn btn-danger">Log Out</button></span>
            </a>
        </li>
    </ul>

</div>