<%- include('./partials/header'); -%>
    <link rel="stylesheet" href="/css/dashbord.css">
    <%- include('./partials/sidebar'); -%>

        <%- include('./partials/navbar'); -%>
            <!-- Main Content-->
            <section class="main">
                <div class="flex ">
                    <div class="">
                        <div class="card " style="width: 18rem;">
                            <img src="/img/bugs.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">Tickets By Type</i></a>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card" style="width: 18rem;">
                            <img src="/img/state.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">Tickets By State</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex">

                    <div class="">
                        <div class="card" style="width: 18rem;">
                            <img src="/img/priority.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">Tickets By Priority</a>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="card" style="width: 18rem;">
                            <img src="/img/logo.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <a href="#" class="btn btn-primary">Bug Tracker</a>
                            </div>
                        </div>
                    </div>

                </div>

            </section>