<%- include ("./partials/header") -%>

    <body class="text-center">

        <form action="/login" method="POST" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <a href="/auth/facebook" class="btn btn-social btn-facebook btn-lg btn-primary btn-block"><i class="fab fa-facebook"></i>Sign In With Facebook</a>
            <br>
            <a href="/auth/google" class="btn btn-social btn-google btn-lg btn-primary btn-block"><i class="fab fa-google"></i>Sign In With Google</a>
            <br>
            <h1 class="h3 mb-3 font-weight-normal">Or</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">

            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a href="/register" class="btn btn-lg btn-secondary btn-block">Sing Up New Account</a>

        </form>



        <%- include ("./partials/footer") -%>